.bottom-buttons {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom-btn {
  background-color: #5c875e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem; /* Set a default width */
  width: 40px;
  transition: width 0.3s; /* Smooth transition for width change */
}

.bottom-btn span {
  margin-left: 10px;
}

.bottom-btn.open {
  width: 200px; /* Expanded width for active button */
  padding-right: 20px; /* Extra padding for the text */
}


/* Floating card styles */
.floating-card {
  position: fixed;
  bottom: 100px;
  left: 20%;
  transform: translateX(-50%);
  width: 300px;
  background-color: #5c875e;;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  z-index: 10; /* Ensure it stays on top */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.card-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card-navigation button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #5c875e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.card-navigation button:hover {
  background-color: #4a6d4c;
}